<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped">
           {{#if allTime}}
               <thead>
               <tr>
                   <th colspan="3">{{{lang "highscore.alltime"}}}</th>
               </tr>
               </thead>
               <tbody>
               {{#each allTime.models}}
                   <tr>
                       <td>{{attributes.name}}</td>
                       <td>{{{date attributes.date 'L'}}}</td>
                       <td class="text-right">{{attributes.value}}</td>
                   </tr>
               {{/each}}
               </tbody>
           {{/if}}
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
           {{#if month}}
               <thead>
               <tr>
                   <th colspan="3">
                       <div class="btn-group btn-group-xs pull-right">
                           <a href="#" class="btn btn-default js-prev"><i class="fa fa-chevron-left"></i></a>
                           <a href="#" class="btn btn-default js-next"><i class="fa fa-chevron-right"></i></a>
                       </div>
                       {{monthHeader}}
                   </th>
               </tr>
               </thead>
               <tbody>
               {{#each month.models}}
                   <tr>
                       <td>{{attributes.name}}</td>
                       <td>{{{date attributes.date 'L'}}}</td>
                       <td class="text-right">{{attributes.value}}</td>
                   </tr>
               {{/each}}
               </tbody>
           {{/if}}
        </table>
    </div>
</div>