<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped">
           {{#if allTime}}
               <thead>
               <tr>
                   <th colspan="3">{{{lang "highscore.alltime"}}}</th>
               </tr>
               </thead>
               <tbody>
               {{#each allTime.models}}
                   <tr>
                       <td>{{attributes.name}}</td>
                       <td>{{{date attributes.date 'YYYY-MM-DD'}}}</td>
                       <td class="text-right">{{attributes.value}}</td>
                   </tr>
               {{/each}}
               </tbody>
           {{/if}}
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
           {{#if month}}
               <thead>
               <tr>
                   <th colspan="3">{{{lang "highscore.month"}}}</th>
               </tr>
               </thead>
               <tbody>
               {{#each month.models}}
                   <tr>
                       <td>{{attributes.name}}</td>
                       <td>{{{date attributes.date 'YYYY-MM-DD'}}}</td>
                       <td class="text-right">{{attributes.value}}</td>
                   </tr>
               {{/each}}
               </tbody>
           {{/if}}
        </table>
    </div>
</div>