<p>{{{lang "roundover.description"}}}</p>
<p>
    <strong>{{{lang "nav.score"}}}:</strong> <span>{{score}}</span><br />
    <strong>{{{lang "nav.moves"}}}:</strong> <span>{{moves}}</span>
</p><br /><br />
<p class="text-center">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{{lang "roundover.continue"}}}</button>
</p>