<p>{{{lang "gamewin.description"}}}</p>
<p>
    <strong>{{{lang "nav.round"}}}:</strong> <span>{{round}}</span><br />
    <strong>{{{lang "nav.score"}}}:</strong> <span>{{score}}</span><br />
    <strong>{{{lang "nav.moves"}}}:</strong> <span>{{moves}}</span>
</p><br>

{{#if highscores}}
    {{#if ishighscore}}
        <p>
            {{{lang "gamewin.highscore"}}}
            <form class="form-inline">
                <input type="text" name="name" class="form-control" placeholder="{{{lang "gamewin.name"}}}" />
                <button type="submit" class="btn btn-success">{{{lang "gamewin.post"}}}</button>
            </form>
        </p>
    {{else}}
        <p>{{{lang "gamewin.nohighscore"}}}</p>
    {{/if}}
{{/if}}